.container{
display: flex;
justify-content: space-around;
margin-top: 100px;
}
.logo-img{
    ursor: pointer;
    height: auto;
    left: 42px;
    position: absolute;
    top: 35px;
    width: 150px;
}
.music-img{
    height: 120px;
    width: 120px;
}
.home-leftsection h1 {
    color: #b900c4;
    font-size: 78px;
    font-weight: bolder;
    letter-spacing: -6px;
    line-height: .9;
    text-shadow: 1px 1px 1px #b900c4;
    word-spacing: -6px;
}
.input{
    display:none;
}
.upload-button{
    background-color: #b900c4;
    border: none;
    color: #fff;
    font-weight: bolder;
    margin-top: 80px;
    transition: background-color .3s;
    width: 270px;

}
.music-gif{
     
        /* height: 500px; */
        height:250px;
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
        width: 500px;
}
.leftsection-content{
    align-items: center;
    display: flex;
    flex-direction: column;
    /* gap: 50px; */
    justify-content: center;
    text-align: center
}